html{
	font-family: sans-serif;
}

body{
	background-color: black;
	color: white;
	font-family:"Inter", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	line-height:1.6;
	padding-block-start: 3rem;
}

:root{
	--hover-color: #FFB134;
	--linkword-color:dodgerblue;
	--linkword-text-decoration:underline;
}

h1{
	text-transform: uppercase;
	font-size: 7.625rem;
	font-weight: 850;
	line-height: 1.1;
	padding-inline-start: 6rem;
}

.shape{
	text-transform: uppercase;
	color: transparent;
	font-size: 10rem;
	font-weight: 400;
	font-family: "Asimovian", sans-serif;
	-webkit-text-stroke: 0.20rem dodgerblue;
}

h2{
	font-size: 1.875rem;
	font-family: inter,sans-serif;
	font-weight: 700;
	max-width: 37.5rem;
	width: 35%;
	margin-inline-end: 12%;
	margin-inline-start: auto;
	margin-block-start: 10rem;
	position: absolute;
	inset-inline-end: -0.2rem;
	inset-block-end: 13rem;
}

nav{
	color: var(--linkword-color);
	font-size: 1.2rem;
	font-family: inter,sans-serif;
	font-weight: 450;
	text-decoration: underline;
	max-width: 37.5rem;
	width: 35%;
	margin-inline-end: 11.95%;
	margin-inline-start: auto;
	margin-block-start: -4.75rem;
}

h3{
	font-size: 1.5rem;
	font-weight: 600;
	font-family: Asimovian, sans-serif;
	text-align: right;
	margin-block-start: 3.75rem;
	max-width: 43.75rem;
	width: 47%;
}

blockquote{
	font-family:inter, sans-serif;
	font-size: 1.875rem;
	font-weight: 700;
	font-style: italic;
	color: dodgerblue;
	text-align: right;
	max-width: 25rem;
	width: 60%;
	margin-block-start: 2.5rem;
}

.first-quote{
	position: absolute;
	inset-inline-start: 9.6rem;
	inset-block-end: -7.5rem;
}

.intro{
	max-width: 37.5rem;
	margin-block-end: 1.25rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-start: 4.7rem;
}

.MAMMA{
	font-family: sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
}

.OBOLO{
	font-family: sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
}

.intro-2{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.first{
	max-width: 37.5rem;
	width: 35%;
	margin-block-end: 1.25rem;
	margin-inline-start: auto;
	margin-inline-end: 12%;
}

.telegram{
	color: var(--linkword-color);
	text-decoration: var(--linkword-text-decoration);
}

.telegram:hover{
	color: var(--hover-color);
}

.second{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.poems{
	font-family: Asimovian;
	font-size: 1.625rem;
}

.complementary-colours{
	color: #1475E3;
	background-color: #FFB134;
	font-weight: 500;
	padding-inline-start: 0.25rem;
}

.word-3{
	font-size: 1.875rem;
	text-transform: uppercase;
	font-weight: 600;
	line-height:1.3;
}

.word-4{
	color:#FFB134;
}

.word-5{
	color: #FFB134;
}

.third{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.legibility{
	color: var(--linkword-color);
	text-decoration: var(--linkword-text-decoration);
}

.legibility:hover{
	color: var(--hover-color);
}

.liverpool{
	color: transparent;
	    -webkit-text-stroke: 0.1rem white;
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 0.1875rem;
	max-width: 37.5rem;
	width: 35%;
	margin-block-end: -1.25rem;
	margin-inline-start: auto;
	margin-inline-end: 12%;
}

.hull{
	color: transparent;
    -webkit-text-stroke: 0.1rem white;
	font-size: 5rem;
	font-weight: 900;
	letter-spacing: 5.8125rem;
	max-width: 37.5rem;
	width: 35%;
	margin-block-end: 1.25rem;
	margin-inline-start: auto;
	margin-inline-end: 12%;
}

.fourth-1{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 0.125rem;
}

.Ulysses{
	color: var(--linkword-color);
	text-decoration: var(--linkword-text-decoration);
}

.Ulysses:hover{
	color: var(--hover-color);
}

.newspapers{
	font-weight: 600;
}

.firms{
	font-weight: 600;
	margin-inline-start: 6.5265rem;
}

.countries{
	font-weight: 600;
	margin-inline-start: 11.25rem;
}

.stars{
	font-weight: 600;
	margin-inline-start: 20.625rem;
}

.tetradecapodous{
	color: var(--linkword-color);
	text-decoration: var(--linkword-text-decoration);
}

.tetradecapodous:hover{
	color: var(--hover-color);
}

.Bold{
	max-width: 37.5rem;
	width: 35%;
	text-transform: uppercase;
	line-height: 3.5365rem;
	font-size: 2.5rem;
	font-weight: 600;
	margin-inline-start: 12%;
	margin-inline-end: auto;
}

.fourth-2{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.fourth-3{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.fifth{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.sixth{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.seventh{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.t{
	background-color: dodgerblue;
	color: dodgerblue;
}

.r{
	background-color: dodgerblue;
	color: dodgerblue;
}

.general-shape{
	font-size: 1.625rem;
	font-weight: 600;
	text-transform: uppercase;
}

.motorways{
	font-weight: 600;
	text-transform: uppercase;
}

.warning{
	font-weight: 600;
	text-transform: uppercase;
}

.eighth{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.nineth{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.tenth{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.R1{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-end: 1.25rem;
}

.R1-S1{
	background-color:#FFB134;
	font-weight: 500;
	color: #1475E3;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
}

.article-name{
	color: var(--linkword-color);
	text-decoration: var(--linkword-text-decoration);
	font-style: oblique;
}

.article-name:hover{
	color: var(--hover-color);
}

.R2{
	max-width: 37.5rem;
	width: 35%;
	margin-inline-start: 12%;
	margin-inline-end: auto;
	margin-block-end: 1.25rem;
}

.R3{
	max-width: 37.5rem;
	width: 35%;
	margin-block-end: 0.3125rem;
	margin-inline-start: auto;
	margin-inline-end: 12%;
}

.R4{
	max-width: 37.5rem;
	width: 35%;
	margin-block-start: 3.4375rem;
	margin-block-end: 1.25rem;
	margin-inline-start: auto;
	margin-inline-end: 12%;
}

.quote{
	font-family: sans-serif;
	font-size: 2.5rem;
	font-weight: 600;
	max-width: 75rem;
	width: 90%;
	color: white;
	line-height: 0.7;
	margin-inline-start: auto;
	margin-inline-end: 12%;
	margin-block-start: 0.3125rem;
	margin-block-end: 2.1875rem;
}

.quote-mask{
	font-size: 5rem;
	line-height: 1.3;
	position: relative;
	top: 0.625rem;
}

.quote-mask2{
	font-size: 5rem;
	position: relative;
	top: 0.9375rem;
}

.Response{
	font-size: 1.5rem;
	font-weight: 600;
	font-family: Asimovian, sans-serif;
	text-align: right;
	max-width: 37.5rem;
	width: 35%;
	margin-block-start: 3.75rem;
	margin-inline-start: 13%;
}

.Book-name{
	font-style: oblique;
}

.original-text{
	text-decoration: underline;
}

.original-text:hover{
	color: #1475E3;
}

footer{
	padding-inline-start: 6rem;
	padding-block-end: 2rem;
}
